@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    text-decoration: none;
    font-family: 'Montserrat';
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
  
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #FFFFFF;
}

/* Form Start */
/* .background {
    display: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    opacity: 0.7;
    height: 100vh;
    width: 100vw; 
} */

.form-page{
    display: flex;
    z-index: 3;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.85);
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
    display: none;
}

@keyframes animatetop {
    0% {opacity: 0}
    40% {opacity: 1}
    60% {opacity: 1}
    100% {opacity: 0}
}

.form-page .form-box {
    background-color: #C5DF16;
    height: 15vw;
    width: 47vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: animatetop;
    animation-duration: 2000ms;
}

.form-box .headline-form {
    font-size: 3vw;
    color: white;
    transition: all 500ms ease;
}

.no {
    box-sizing: border-box;
    background: white;
    height: 4vw;
    width: 27vw;
    flex-direction: row;
    border-radius: 4px;
    transition: all 500ms ease;
}

.no input {
    font-size: 2.1vw;
    font-weight: 580;
    margin-top: 0;
    color: rgba(36, 36, 36, 0.56);
    border: 0;
    background: none;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    width: 100%;
    outline: none;
    line-height: 1.85vw;
    letter-spacing: 1px;
    
}

.intro {
    display: grid;
    /* grid-template-rows: 6.944vw 3.333vw 4.861vw 18vw 6.389vw 11vw 4.9vw 7.8vw 4.6vw 4.444vw 8.194vw; */
    grid-template-rows: 3.2vw 3.333vw 3vw 7vw 5.5vw 10vw 1.8vw 7vw 1.8vw 4.444vw 5vw;
    /* grid-template-columns: 8.13vw 37.76vw 3vw 11.88vw 38.08vw; 37.2 */
    grid-template-columns: 6.1vw 41.3vw 6vw 11.2vw 34.7vw;
    margin: 0;
}

.image-container {
    grid-row: 1/12;
    grid-column: 5/6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/Group\ 3.svg);
    background-size: 100% 100%;
}

.image-container img {
    height: 77%;
    width: 60%;
}

.header {
    grid-row: 2/3;
    grid-column: 2/5;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 3.333vw;
    width: 3.333vw;
    cursor: pointer;
}

.logo a, nav a {
    font-size: 1.35vw;
    color: black;
}

.logo a {
    padding-left: 1.111vw;
    font-weight: 700;
    letter-spacing: 0.1em;
}

nav {
    grid-row: 2/3;
    grid-column: 4/5;
    padding: auto;
    display: flex;
    align-items: center;
    margin-right: 5vw;
}

nav a {
    font-weight: 500;
}

div .headings, .subtitle, .main-content, .contact-info, button, .box {
    grid-column: 2/3;
}

div .headings {
    grid-row: 4/5;
}

div .title {
    /* font-size: 3.45vw; */
    font-size: 3.35vw;
    margin-top: 0;
    margin-bottom: 1vw;
    font-weight: 800;
}

div .subtitle, .title-two, .title-three {
    margin-top: 0;
    font-weight: 650;
}

div .subtitle {
    font-size: 2vw;
}

.title-two, .title-three {
    font-size: 2.3vw;
}

div .subtitle, .title-two {
    color: #0C4E8C;
 }

.subtitle {
    /* grid-row: 6/7; */
    margin-bottom: 0;
}

.box div, .box-two div, .box-three div {
    padding: 3px 10px;
    height: 1px;
    width: 2px;
    background-color: #C5DF16;
}

/* .box div {
    margin-bottom: 2.8vw;
} */

.box-two div, .box-three div {
    margin-bottom: 1.38vw;
}

.box {
    display: flex;
    grid-row: 5/6;
    align-items: center;
}

.box-two .b-two {
    position: relative;
    top: 1.7vw;
}

.box-three .b-three {
    position: relative;
    /* top: 1.7vw; */
}

.main-content {
    grid-row: 6/7;
    line-height: 1.95vw;
    font-size: 1.29vw;
    margin-top: 0;
}

.contact-info {
    grid-row: 8/9;
}

.contact-info .line {
    margin-top: 0.25vw;
    font-size: 1.29vw;
    line-height: 1.85vw;
    font-weight: 600;
    margin-bottom: 0.3vw;
}

button {
    width: 60%;
    grid-row: 10/11;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    background-color: #C5DF16;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    color: white;
    outline: none;
}

button p {
    font-size: 1.25vw;
}

button svg {
    height: 0.4vw;
    width: 2.1vw;
    color: white;
}

.title-box-two, .title-box-three {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-box-two {
    grid-row: 1/2;
    grid-column: 1/6;
}

.title-box-three {
    height: 15vw;
}

.title-box-two .title-two {
    margin-bottom: 1.38vw;
}

/* Middle Part */
.middle {
    display: grid;
    grid-template-columns: 15.92vw 30.55vw 5.56vw 30.55vw 15.92vw;
    grid-template-rows: 19vw 21.9vw 6.8vw 21.9vw 6.8vw 21.9vw;
    margin-bottom: 18vw;
}

/*.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

.textbox .title-line {
    line-height: 2.1vw;
    font-size: 1.4vw;
    margin-bottom: 1vw;
    margin-top: 2vw;
    font-weight: bold;
}

.textbox .content-line {
    line-height: 2.1vw;
    font-size: 1.29vw;
    margin-top: 0;
}

#image-one {
    grid-row: 2/3;
    grid-column: 4/5;
    height: 21.9vw;
    width: 30.55vw;
}

#image-two {
    grid-row: 4/5;
    grid-column: 2/3;
    height: 21.9vw;
    width: 30.55vw;
}

#image-three {
    grid-row: 6/7;
    grid-column: 4/5;
    margin-top: 2vw;
    height: 21.9vw;
    width: 30.55vw;
}

#textbox-one {
    grid-row: 2/3;
    grid-column: 2/3;
}

#textbox-two {
    grid-row: 4/5;
    grid-column: 4/5;
}

#textbox-three {
    grid-row: 6/7;
    grid-column: 2/3;
}

.lower {
    padding-bottom: 4.5vw;
    padding-top: 2vw;
    background: #0C4E8C;
    color: white;
}

h3.title-three {
    color: white;
}

.team-description p {
    margin: 0 15.92vw 3vw 15.92vw;
    line-height: 1.85vw;
    font-size: 1.29vw;
}

footer {
    /* margin-top: 10vw; */
    width: 100%;
    background: #C5DF16;
}

footer p {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8vw;
    font-weight: 600;
    letter-spacing: 1px;
}

@media only screen and (min-device-width: 600px) and (max-device-width: 750px) {
    .middle {
        grid-template-columns: 11.92vw 34.55vw 5.56vw 34.55vw 11.92vw;
        grid-template-rows: 19vw 24.9vw 6.8vw 24.9vw 6.8vw 27.9vw;
    }

    p {
        text-align: justify;
    }
}

@media only screen and (max-device-width: 600px) {
    .form-page .form-box {
        height: 100%;
        width: 100%;
    }

    .form-box .headline-form {
        font-size: 10vw;
    }

    .intro, .header, .middle {
        display: flex;
    }

    .intro, .header {
        width: 100%;
    }

    .intro, .middle {
        flex-direction: column;
        align-items: center;
    }
    
    .header {
        height: 15.6vw;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    }

    .logo a, nav a {
        font-size: 3.9vw;
    }

    nav {
        margin-right: 6.95vw;
    }

    .logo img {
        height: 6.7vw;
        width: 6.7vw;
        margin-left: 6.95vw;
    }

    .headings .title, .headings .subtitle, .main-content,
    .middle  {
        margin: 0 6.95vw 8.4vw 6.95vw;
    }

    .headings .title {
        margin-top: 7.2vw;
        margin-bottom: 3.9vw;
        font-size: 6.7vw;
        font-weight: 700;
    }

    .headings .subtitle, .title-box-two .title-two, .title-three {
        font-size: 5vw;
        margin-bottom: 7vw;
    }

    .intro .box {
        display: none;
    }

    .main-content {
        font-size: 2.2vw;
        line-height: 6.95vw;
        word-spacing: 1px;
        text-align: justify;
    }

    .image-container {
        width: 100%;
        margin-top: 2vw;
        margin-bottom: 13.4vw;
        background-size: 100% 145%;
    }

    .contact-info .line {
        font-size: 4.42vw;
        text-align: center;
    }

    .no {
        box-sizing: border-box;
        background: white;
        height: 14.5vw;
        width: 100%;
        flex-direction: row;
        border-radius: 4px;
        margin-bottom:  5vw;
    }

    .no input {
        font-size: 6.7vw;
        text-align: center;
        margin-top: 1.5vw;
    }

    button {
        width: 65.27vw;
        height: 14.5vw;
        justify-content: center;
    }

    button p {
        font-weight: bold;
        font-size: 4.1vw;
    }

    button svg {
        height: 4.4vw;
        width: 5.1vw;
        margin-left: 3.1vw;
    }

    .middle {
        margin-top: 25vw;
    }

    .title-box-two .title-two {
        text-align: center;
        line-height: 6.7vw;
    }

    .box-two, .box-three {
        margin-top: 1.3vw;
        height: 2vw;
        width: 8vw;
        background-color: #C5DF16;
    }

    .box-two .b-two {
        /* background-color: #FFFFFF; */
        opacity: 0;
    }

    /* .box-three .b-three {
        background-color: #0C4E8C;
    } */

    .textbox {
        margin-top: 4vw;
    }

    .imagebox, #image-three {
        margin-top: 25vw;
    }

    #image-one, #image-two, #image-three  {
        width: 95%;
        height: auto;
    }

    .textbox .title-line, .textbox p {
        opacity: 0.6;
        line-height: 6.7vw;
    }

    .textbox .title-line {
        font-size: 3vw;
        text-align: justify;
    }

    .textbox .content-line {
        margin-top: 4.16vw;
        font-size: 2.2vw;
        line-height: 7.1vw;
        text-align: justify;
    }

    .lower {
        margin-top: 25vw;
    }

    .title-box-three {
        padding-top: 10vw;
        margin-bottom: 9vw;
    }


    .team-description p {
        margin-top: 4.16vw;
        font-size: 1.6vw;
        line-height: 7.1vw;
        margin: 0 6.95vw 8.4vw 6.95vw;
        text-align: justify;
    }

    footer p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.7vw;
        height: 7.8vw;
    }
}
